body {
    background-color:#fff3e2;
    border: 5px solid #0a043c;
}
img{
    border: blue;
    border-radius: 50px,10px;
    border-style: dotted;
    border-top-style: dotted;
    border-width: 10px;
}    
img:hover{
    border-color: red;
}
hr{
    border-color:grey;
    border-style: none;
    border-top-style:dotted ;
    border-width: 10px;
    width: 5%;
}
h1{
    color:#f05454;
    font-style: italic;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: #66BFBF;
    
}    
h4{
    color: green;
}
#hell {
    color: #f05454;
}
#my{
    font-size: larger;
}
